page-home {
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 25px;
    }

    .crop-div{
        position: relative;
        height: 56px;
        width: 56px;
        overflow: hidden;
    }

    .customized-image{
        position: absolute;
        left: 50%; // align left edge at 50% of width of container
        -webkit-transform: translate(-50%,0%); // translate left by 50% of the img width
        -ms-transform: translate(-50%,0%);
        transform: translate(-50%,0%);
        height: 100%; // keep height, expected landscape format of image
        width: auto !important; // keep original width, no deformation
        max-width: 1000% !important; // uncap max width set by default by ionic 2
        margin: auto; // may be not needed
        overflow: hidden;
    }

}
