page-home {

    .toolbar-title{
        height: 44px;
        width: 100%;
    }

    .logo{
        height: 38px !important;
        width: 181px !important;
        margin: 3px 0px 3px 0px !important;
    }

    .spinner-container { // total height is height + 2 * margin = 96px, same as pullMin of ionRefresher
        height: 92px;
        width: 100%;
        text-align: center;
        margin: 2px;
        padding: 0px;
        border-bottom-color: color($colors, primary);
    }

    .spinner-text{
        margin: 0px;
        padding: 2px;
        font-size: 16px;
    }

    /*.scroll-content .ion-list{
        border-top-color: color($colors, primary) !important;
    }*/

    .item-inner{ // container for text content of item, only bottom border is used
        border-bottom-color: color($colors, primary) !important;
        border-bottom-width: 1px !important;
    }

    .custom-thumbnail{
        height: 92px;
        width: 92px
    }

    .crop-div{ // will crop contained img
        position: absolute;
        height: 92px;
        width: 92px;
        overflow: hidden;
        border-style: solid !important;
        border-width: 1px !important;
        border-color: color($colors, lighttone);
    }

    .customized-image{ //styled for keeping aspect ratio and get a centered img in the div
        position: absolute; //positioned in reference to crop-div
        left: 50%; // align left edge in middle of container;
        -webkit-transform: translate(-50%, 0%); // translate left by 50% of the img width and height
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        height: 100% !important; // scale to fill crop-div height
        width: auto !important; // keep original height-width ratio, no deformation, expected landscape format of image
        max-width: 1000% !important; // uncap max width set by default by ionic 2
        margin: auto; // may be not needed
        overflow: hidden;
    }

    .post-title-text{
        //text-align: justify;
        font-size: 16px;
        line-height: 1.3em;
        color: color($colors, dark);
    }

    .forward-button{
        height: 32px !important;
        width: 32px !important;
        font-size: 26px !important;
        color: color($colors, primary);
    }

    .load-more-item{
        border-bottom-width: 0px !important;
    }

    .load-more-text{
        text-align: center;
        font-size: 16px;
        color: color($colors, dark);
    }

    .load-more-div{
        text-align: center;
    }

    .load-more-button{
        height: 38px !important;
        width: 56px !important;
        text-align: center;
        font-size: 32px !important;
        margin: auto !important;
        color: color($colors, primary);
    }

    .input-wrapper{ // is the div around the list item text
        padding: 10px 0px !important;
    }

}
