page-home {
    .spinner-container {
        width: 100%;
        block-size: 72px;
        text-align: center;
        margin: 20px 0px 0px 0px;
        padding: 0px;
        border-bottom-color: color($colors, primary);
    }

    .spinner-text{
        margin: 0px;
        padding: 2px;
        font-size: 16px;
    }

    .refresher-refreshing{
        margin-top: 30px;
    }

    .item-inner{ // container for text content of item, only bottom border is used
        border-bottom-color: color($colors, primary) !important;
        border-bottom-width: 1px !important;
    }

    .custom-thumbnail{
        height: 92px;
        width: 92px
    }

    .crop-div{ // will crop contained img
        position: absolute;
        height: 92px;
        width: 92px;
        overflow: hidden;
    }

    .customized-image{ //styled for keeping aspect ratio and get a centered img in the div
        position: absolute; //positioned in reference to crop-div
        left: 50%; // align left edge in middle of container;
        -webkit-transform: translate(-50%, 0%); // translate left by 50% of the img width and height
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        height: 100% !important; // scale to fill crop-div height
        width: auto !important; // keep original height-width ratio, no deformation, expected landscape format of image
        max-width: 1000% !important; // uncap max width set by default by ionic 2
        margin: auto; // may be not needed
        overflow: hidden;
    }

    .post-title-text{
        font-size: 16px;
        color: color($colors, dark);
    }

    .forward-icon{
        font-size: 24px !important;
        color: color($colors, primary);
    }

    .load-more-item{
        border-bottom-width: 0px !important;
    }

    .load-more-text{
        text-align: center;
        font-size: 16px;
        color: color($colors, dark);
    }

    .load-more-icon{
        text-align: center;
        font-size: 32px;
        color: color($colors, primary);
    }

    .input-wrapper{ // is the div around the list item text
        padding: 10px 0px !important;
    }

}
