page-post {

    .toolbar-title{
        height: 44px;
        width: 100%;
    }

    .logo{
        height: 38px !important;
        width: 181px !important;
        margin: 3px 0px 3px 0px !important;
    }

    .title-container{
        padding: 25px 0px 25px 0px !important;
        border-bottom-width: 3px !important;
        border-top-width: 3px !important;
        border-color: color($colors, primary) !important;
        text-align: center !important;
        color: color($colors, dark) !important;
        font-weight: bold !important;
    }

    hr{
        height: 1px;
        border-bottom-width: 1px !important;
        border-bottom-color: red;
        color: transparent;
    }

    a{
        color: teal !important;
    }

    p{
        text-align: justify !important;
        font-size: 16px;
        line-height: 1.3em;
        color: color($colors, dark) !important;
    }

    ion-content{
        img{
       padding: 30px 0px 30px 0px !important;
       width: 100% !important;
       height: auto !important; 
        }
    }

    iframe{
       padding: 30px 0px 25px 0px !important;
       width: 100% !important;
       height: auto !important; 
    }

    button{
        font-size: 16px !important;
    }

    .relatedthumb{
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
    }

    .yuzo__title{
        text-align: center;
    }

    .yuzo_related_post{
        display: none !important;
    }
    
}
